<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>InstaDoc &mdash; Powered by Truebeat</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>

        <div class="container mt-1 " style="width:550px;">
                <% if(error && error.length>0){ %>
                  <div class="alert alert-danger text-center " role="alert">
                      <%=error%>
                    </div>
                <%} %>
                <% if(success && success.length>0){ %>
                  <div class="alert alert-success text-center " role="alert">
                      <%=success%>
                    </div>
                <%} %>
                
              </div>