<footer class="templateux-footer bg-dark">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-4 pr-md-5">
          <div class="block-footer-widget">
            <h3>About</h3>
            <p>A young startup that plans to revolutionise the medical field.</p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <div class="block-footer-widget">
                <h3>Learn More</h3>
                <ul class="list-unstyled">
                  <li><a href="#">How it works?</a></li>
                  <li><a href="#">Useful Tools</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="block-footer-widget">
                <h3>Support</h3>
                <ul class="list-unstyled">
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Help Desk</a></li>
                  <li><a href="#">Knowledgebase</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="block-footer-widget">
                <h3>About Us</h3>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-3">
              <div class="block-footer-widget">
                
                <p>Connect With Us</p>
                <ul class="list-unstyled block-social">
                  <li><a href="#" class="p-1"><span class="icon-facebook-square"></span></a></li>
                  <li><a href="#" class="p-1"><span class="icon-twitter"></span></a></li>
                  <li><a href="#" class="p-1"><span class="icon-github"></span></a></li>
                </ul>
              </div>
            </div>
          </div> <!-- .row -->
          
        </div>
      </div> <!-- .row -->

      <div class="row pt-5 text-left">
        <div class="col-md-12 text-left"><p>
          <!-- Link back to Truebeat can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Website Powered by <a href="https://thetruebeat.com" target="_blank" class="text-primary">Truebeat</a>
          <!-- Link back to Truebeat can't be removed. Template is licensed under CC BY 3.0. -->
        </p></div>
      </div> <!-- .row -->

    </div>
  </footer> <!-- .templateux-footer -->
  

 </div> <!-- .js-animsition -->


<script src="/js/scripts-all.js"></script>
<script src="/js/main.js"></script>

</body>
</html>