<% include partials/header %>

<div class = "jumbotron-fluid jum">
    <div class="container-fluid cont">
        <h2>Hi Doctor your patience are waiting   <a class="btn btn-primary" href="https://hubl.in/DocC101">Click here</a></h2>
    </div>
</div>>
    
    
    
<% include partials/footer %>