<% include partials/header %>

<div class = "jumbotron-fluid jum">
    <div class="container-fluid cont">
            <h4><%=currentUser.username %></h4>
            <p><%=currentUser.mobile%></p>
            <p><%=currentUser.userid%></p>
            <p><%=currentUser.email%></p>
                   

    </div>
</div>>
    
    
<% include partials/footer %>