<% include partials/header %>

<div class = "jumbotron-fluid dt-da">
    <div class="container-fluid ">
            
                   
            <div class="border border-dark rounded ">
                    <div class="bg-primary  text-left text-white d-block  p-3 border-bottom">
                        <h2>PROFILE</h2>
                    </div>
                    <div class="p-3 bg-light text-dark profile">
                            <p>Name: <%=currentUser.username %></p>
                            <p>Mobile No.: <%=currentUser.mobile%></p>
                            <p>Room Name: <%=currentUser.userid%></p>
                            <p>Email: <%=currentUser.email%></p>
                    </div>
                </div>
    </div>
</div>
    
    
<% include partials/footer %>