<% include partials/header.ejs %>    

    <div class="templateux-cover" style="background-image: url(images/slider-1.jpg);" alt="Main Health Image">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-6 text-center order-lg-2">
            
        </div>
          <div class="col-lg-6 order-lg-1">
            <h1 class="heading mb-3 text-white" data-aos="fade-up">A better Way to Connect with Patients</h1>
            <p class="lead mb-5 text-white" data-aos="fade-up"  data-aos-delay="100">Connect with patients over the internet to reduce the hassle of visitng a clinc and increase work efficency</p>
            <a href="/doctor/login" class="trigger-btn btn-primary btn-lg" >Get Started</a>
        </div>
        
          
        </div>
        
      </div>
    </div> <!-- .templateux-cover -->

    <div class="templateux-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 templateux-overlap">
            <div class="row">
              <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                <div class="media block-icon-1 d-block text-left">
                  <div class="icon mb-3"><span class="ion-ios-lightbulb-outline"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mb-4">Easily Adoptable</h3>
                    <p>A Unique Link to Suit your Uniquness.</p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-delay="700">
                <div class="media block-icon-1 d-block text-left">
                  <div class="icon mb-3"><span class="ion-ios-nutrition-outline"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mb-4">Save Waiting Time</h3>
                    <p>Greatly Reduce Patients Time In Waiting Room</p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              <div class="col-md-4" data-aos="fade-up" data-aos-delay="800">
                <div class="media block-icon-1 d-block text-left">
                  <div class="icon mb-3"><span class="ion-ios-infinite-outline"></span></div>
                  <div class="media-body">
                    <h3 class="h5 mb-4">A Cut Above The Rest</h3>
                    <p>Your Patients Deserve the Best, We are here to help you with that</p>
                  </div>
                </div> <!-- .block-icon-1 -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .templateux-section -->

    <div class="templateux-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 block-heading-wrap" data-aos="fade-up">
            <h2 class="heading mb-5 text-center">Better Care makes a better Doctor</h2>
          </div>
        </div> <!-- .row -->
        <div class="row mb-5" data-aos="fade-up">
          <div class="col-md-6">
            <p class="lead">Connect with patients over the internet to reduce the hassle of visitng a clinc and increase work efficency. Just give your Patients your unique URL on their first visit.</p>
          </div>
          <div class="col-md-6">
            <p> Greatly Reduce the time patients waste waiting in a waiting room to consult a Docotr. Instant Appoinments and Better Treatment</p>
            <p>An Innovative Way to Efficently Manage Time with Patients. Giving your Patients a treatment and care thats a cut above the rest.</p>
          </div>
        </div>
      </div> <!-- .container -->
      <div class="container-fluid"  data-aos="fade-up">
        <div class="owl-carousel wide-slider">
          <div class="item">
            <img src="images/slider-2.jpg" alt="Health Ring" class="img-fluid">
          </div>
          <div class="item">
            <img src="images/slider-3.jpg" alt="Health Watch" class="img-fluid">
          </div>
          <div class="item">
            <img src="images/slider-4.jpg" alt="Tele-scope" class="img-fluid">
          </div>
        </div> <!-- .owl-carousel -->
      </div>
    </div> <!-- .templateux-section -->
    
    <div class="templateux-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-4" data-aos="fade-up">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-loop"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Easy to Use</h3>
                <p>Just paste the custom URL and its done</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-infinite-outline"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Infinite Posibilities</h3>
                <p>Change the way patients experienced Post Diagostic Care</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-locked-outline"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Favorable Privacy</h3>
                <p>We don't store any patients information</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>

          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-nutrition-outline"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">A better Care  </h3>
                <p>Make every patients like your treatment</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="400">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-lightbulb-outline"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Intuitive Thinking</h3>
                <p>An Innovative Way to Efficently Manage Time with Patients</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><span class="ion-ios-videocam-outline"></span></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Online Video Calling</h3>
                <p>Talk with the patients over the Video giving them the assurance of a clinic at the comfort of their home</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>

        </div>
        <div class="row">
          
          <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="100">
            <p><a href="#" class="btn btn-black py-3 px-4">More Features</a></p>
          </div>
        </div>
      </div>
    </div> <!-- .templateux-section -->

    <div class="">
      <div class="d-flex flex-column flex-sm-row">
        <a href="#" class="block-thumbnail-1 one-third" style="background-image: url('images/slider-2.jpg'); " alt="Health Ring" data-aos="fade">
          <div class="block-thumbnail-content">
            <h2>Innovative Health Ring</h2>
            
          </div>
        </a>
        <a href="#" class="block-thumbnail-1 two-third" style="background-image: url('images/slider-1.jpg'); " alt="Health Tech World" data-aos="fade" data-aos-delay="100">
          <div class="block-thumbnail-content">
            <h2>Be Part of a healthier world</h2>
            
          </div>
        </a>
      </div>
      <div class="d-flex flex-column flex-sm-row">
        <a href="#" class="block-thumbnail-1 two-third" style="background-image: url('images/slider-3.jpg'); " alt="Health Watch" data-aos="fade" data-aos-delay="200">
          <div class="block-thumbnail-content">
            <h2>Personalised Health Watch</h2>
            
          </div>
        </a>
        <a href="#" class="block-thumbnail-1 one-third" style="background-image: url('images/slider-4.jpg'); " alt="stethoscope" data-aos="fade" data-aos-delay="300">
          <div class="block-thumbnail-content">
            <h2>Tele-scope</h2>
            
          </div>
        </a>
      </div>
    </div> <!-- .templateux-section -->

    </div> <!-- .templateux-section -->

    <div class="templateux-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 testimonial-wrap">
            <div class="quote">&ldquo;</div>
            <div class="owl-carousel wide-slider-testimonial">
              <div class="item">
                <blockquote class="block-testomonial">
                  <p>&ldquo;InstaDoc has helped me reduce a lot of time wasted waiting in a clinc&rdquo;</p>
                </blockquote>
              </div>

              <div class="item">
                <blockquote class="block-testomonial">
                  <p>&ldquo;I was amazed by the effectiveness of Post Diagnostic Care Offered By My Doctor&rdquo;</p>
                </blockquote>
              </div>

              <div class="item">
                <blockquote class="block-testomonial">
                  <p>&ldquo;Tele-Post Diagnostic Care Must be the new Standerd for Health-Care&rdquo;</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .templateux-section -->
    
    
<% include partials/footer.ejs %>    
