<% include ../partials/header %>
<div class="dashboard" >
        <div class="card-deck">
        <!--  doctor.forEach(function(docAvail){
            <div class="conatiner">
                    <div class="card  border-danger mb-3" data-aos="fade-up" style="width: 18rem; float:left; display:flex; flex-wrap: wrap;">
                            <img class="card-img-top" src="images/Doc.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title"> docAvail.name /h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
            </div>
         }); -->
        </div>
</div>
</div> <!-- .js-animsition -->

<% include ../partials/footer %>

